export SQL_TOOL_TEST_PROFILE=piccolo_dev_magnum
export SQL_TOOL_TEST_SCHEMA=magnum
export SQL_TOOL_TEST_TABLE=magnum_data
export SQL_TOOL_TEST_DATABASE=piccolo_dev
export SQL_TOOL_TEST_PLAIN_TABLE=flyway_schema_history
